.header
  background-color black
  padding: 10px

.block-queue
  color white
  text-align center
  text-transform uppercase

.element-logo img
  width: 200px

body
  padding: 0px
  margin 0px

.orders-table
  width 100%

.orders-table
  table
    width: 100%
    padding 22px
  td
    padding 5px

.orders-table.complete
  color orange

.block-body
  height 100vh
  background-color #292222
  background-image url('../../../assets/paternB.png')
  background-size: cover

.block-body
  font-size: 24px
